
@font-face {
  font-family: "Brown";
  src: url('../fonts/BrownLLCyr-Medium.woff2') format('woff2'),
    url('../fonts/BrownLLCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brown";
  src: url('../fonts/BrownLLCyr-Light.woff2') format('woff2'),
    url('../fonts/BrownLLCyr-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Brown";
  src: url('../fonts/BrownLLCyr-Regular.woff2') format('woff2'),
    url('../fonts/BrownLLCyr-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
