
<div class="program-signup program-signup--bizness" data-simplebar data-simplebar-auto-hide="false">
    <div class="program-signup__container program-signup__container--wp">
      <div class="program-signup__close absolute">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.66146 23.6693L0.328125 21.3359L9.66146 12.0026L0.328125 2.66927L2.66146 0.335938L11.9948 9.66927L21.3281 0.335938L23.6615 2.66927L14.3281 12.0026L23.6615 21.3359L21.3281 23.6693L11.9948 14.3359L2.66146 23.6693Z"
            fill="#1C1B1F" />
        </svg>
      </div>
      <div class="inner-title program-signup__title text-uppercase">
        Заявка на организацию <br>мероприятия
      </div>
      <form action="/" class="program-signup__form">
        <div class="program-signup__input">
          <input type="text" name="fio" value="" placeholder="фио">
        </div>
        <div class="program-signup__input">
          <input type="email" name="email" value="" placeholder="e-mail">
        </div> 
        <div class="program-signup__input">
          <input type="tel" name="phone" value="" placeholder="телефон">
        </div> 
        <div class="program-signup__input">
          <input type="text" name="company" value="" placeholder="наименование организации">
        </div>
        <div class="form-group news__formgroup program-signup__input text-uppercase relative">
          <div class="news__select d-flex jcsb">
            <span class="news__time color-gray">формат мероприятия</span>
            <div class="news__select-icon">
              <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.58399 9L0.583984 9.08524e-07L10.584 0L5.58399 9Z" fill="#222A2F" />
              </svg>
            </div>
          </div>
          <div class="news__select-dropdown absolute">
            
            <div class="news__select-name">формат1</div>
            <div class="news__select-name">формат2</div>
            <div class="news__select-name">формат2</div>
          </div>
        </div>
        <div class="program-signup__input">
          <input type="text" name="quantity" value="" placeholder="кол-во участников">
        </div>
               
        <div class="program-signup__input program-signup__input--date">
          <input type="text" name="date-m" value="" class="mask-date-m" placeholder="даты мероприятия">
          <span class="program-signup__input-icon absolute">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_790_4470)" fill-rule="evenodd" clip-rule="evenodd" fill="#222A2F">
                <path
                  d="M11.283 0c.34 0 .616.278.616.622v3.317a.619.619 0 01-.616.622.619.619 0 01-.615-.622V.622c0-.344.276-.622.615-.622zM4.717 0c.34 0 .615.278.615.622v3.317a.619.619 0 01-.615.622.619.619 0 01-.615-.622V.622c0-.344.275-.622.615-.622zM0 6.427c0-.344.276-.622.615-.622h14.77c.34 0 .615.278.615.622a.619.619 0 01-.615.622H.615A.619.619 0 010 6.427z" />
                <path
                  d="M0 3.94c0-1.26 1.01-2.281 2.256-2.281h11.488c1.246 0 2.256 1.02 2.256 2.28v10.78C16 15.98 14.99 17 13.744 17H2.256C1.01 17 0 15.98 0 14.72V3.94zm2.256-1.037a1.03 1.03 0 00-1.025 1.036v10.78a1.03 1.03 0 001.025 1.037h11.488a1.03 1.03 0 001.025-1.036V3.94a1.03 1.03 0 00-1.025-1.037H2.256z" />
              </g>
              <defs>
                <clipPath id="clip0_790_4470">
                  <path fill="#fff" d="M0 0h16v17H0z" />
                </clipPath>
              </defs>
            </svg>
          </span>
        </div>        
         <div class="form-group news__formgroup program-signup__input text-uppercase relative">
          <div class="news__select d-flex jcsb">
            <span class="news__time color-gray">площадка</span>
            <div class="news__select-icon">
              <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.58399 9L0.583984 9.08524e-07L10.584 0L5.58399 9Z" fill="#222A2F" />
              </svg>
            </div>
          </div>
          <div class="news__select-dropdown absolute">            
            <div class="news__select-name">площадка1</div>
            <div class="news__select-name">площадка2</div>
            <div class="news__select-name">площадка2</div>
          </div>
        </div>      
        <div class="program-signup__input program-signup__input--area">
          <textarea name="comment" id="comment" placeholder="комментарий"></textarea>
        </div>
        <div class="program-signup__footer">
          <button class="program-signup__btn text-uppercase">отправить заявку</button>
        </div>
        <div class="program-signup__accept">
          Нажимая кнопку отправить заявку, я даю <a href="#">согласие на обработку персональных данных</a>
        </div>
      </form>
    </div>
</div>