

<section class="section bx" id="skp2">
  <div class="section section--md">
    <div class="container">
      <div class="estate d-flex jcsb">
        <div class="estate__head">
          <h2 class="display-h2 display-h2--nogutters text-uppercase">
            туристическим компаниям
          </h2>
        </div>
        <div class="estate__info">
  
          <div class="estate__item d-flex jcsb">
            <div class="inner-title estate__item-title inner-title--nogutters">Один из лучших всесезонных курортов</div>
            <div class="description estate__item-text">
              Популярный курорт  страны, который предлагает своим гостям богатый выбор развлечений и услуг в любое время года.
            </div>
          </div>
          <div class="estate__item d-flex jcsb">
            <div class="inner-title estate__item-title inner-title--nogutters">удобное расположение</div>
            <div class="description estate__item-text">
              Курорт располагается в с. Эсто-Садок на высоте 540 м над уровнем моря.
              Транспортная доступность - скоростная железная дорога, современная автодорога и автобусное сообщение.
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
    <div class="container">
      <div class="estate d-flex jcsb">
        <div class="estate__head">
          <h2 class="inner-title inner-title--nogutters">
            свяжитесь
            <br>с нами
          </h2>
        </div>
        <div class="estate__info">

          <div class="estate__item d-flex jcsb">
            <div class="estate__item-title estate__item-left">
              <div class="inner-title inner-title--nogutters text-uppercase">аренда</div>
              <div class="description estate__item-contacts d-grid">
                <div class="color-gray estate__item-contacts_name">Телефон</div>
                <div class="estate__item-contacts_desc">
                  <a href="tel:79284560819" class="d-block">7 928 456 08 19</a>
                  <span class="color-gray">будние дни 9.00-16.00 МСК</span>
                </div>
                <div class="color-gray estate__item-contacts_name">E-mail</div>
                <div class="estate__item-contacts_desc">
                  <a href="mailTo:rent@polyanaski.ru">rent@polyanaski.ru</a>
                </div>
              </div>
            </div>
            <div class="estate__item-right">
              <div class="inner-title inner-title--nogutters text-uppercase">реклама</div>
              <div class="description estate__item-contacts d-grid">
                <div class="color-gray estate__item-contacts_name">Телефон</div>
                <div class="estate__item-contacts_desc">
                  <a href="tel:79284560819" class="d-block">7 928 456 08 21</a>
                </div>
                <div class="color-gray estate__item-contacts_name">E-mail</div>
                <div class="estate__item-contacts_desc">
                  <a href="mailTo:mice@polyanaski.ru">mice@polyanaski.ru</a>
                </div>
              </div>
            </div>
          </div>                   
      
        </div>
      </div>
    </div>
  
</section>

