<div class="section commers__contacts">
  <div class="container contacts__container d-flex jcsb">
    <div class="contacts__container-head cc-head">
      <div class="inner-title contacts__container-title">
        контакты отдела мероприятий
      </div>
    </div>
    <div class="contacts__container-info d-flex cc-info ">

      <div class="contacts__container-table contacts__container-table--lg">
        <div class="inner-title contacts__container-name">Телефон</div>
        <div class="description contacts__container-row contacts__container-row--fr d-grid">
          <div class="contacts__container-col sm-hide">Телефон</div>
          <div class="contacts__container-col"><a href="tel:+78622595555">7 862 259 55 55</a></div>          
        </div>
      </div>

      <div class="contacts__container-table contacts__container-table--lg">
        <div class="inner-title contacts__container-name">почта</div>
        <div class="description contacts__container-row contacts__container-row--fr d-grid">
          <div class="contacts__container-col sm-hide">E-mail</div>
          <div class="contacts__container-col"><a href="mailTo:mice@polyanaski.ru">mice@polyanaski.ru</a></div>          
        </div>
      </div>


    </div>
  </div>
</div>