<section class="section restaurants-menu">
  <div class="container restaurants-menu__container d-flex jcsb">
    <div class="restaurants-menu__head">
      <div class="inner-title restaurants-menu__title">
        шедевры грузинской кухни
      </div>
      <div class="description restaurants-menu__desc">
        Внимательно изучите не только меню, но и барную карту ресторана.
      </div>
    </div>
    <div class="restaurants-menu__main">
      <div class="restaurants-menu__item d-flex jcsb">
        <div class="restaurants-menu__item-box">
          <div class="inner-title restaurants-menu__name">Основные блюда</div>
          <div class="description restaurants-menu__info">
            Краткое описание для меню и блюд, краткое описание к меню и блюдам
          </div>
        </div>
        <a href="#" class="box-link restaurants-menu__link">скачать меню</a>
      </div>
      <div class="restaurants-menu__item d-flex jcsb">
        <div class="restaurants-menu__item-box">
          <div class="inner-title restaurants-menu__name">Напитки</div>
          <div class="description restaurants-menu__info">
            Краткое описание для меню и блюд, краткое описание к меню и блюдам
          </div>
        </div>
        <a href="#" class="box-link restaurants-menu__link">скачать меню</a>
      </div>
    </div>
  </div>
</section>

<section class="section restaurants-menu">
  <div class="container restaurants-menu__container d-flex jcsb">
    <div class="restaurants-menu__head restaurants-menu__head--lg">
      <div class="inner-title restaurants-menu__title">
        побалуйте себя прекрасным отдыхом
      </div>      
    </div>
    <div class="restaurants-menu__main">
      <div class="restaurants-menu__item d-flex jcsb">
        <div class="restaurants-menu__item-box">
          <div class="inner-title restaurants-menu__name">режим работы</div>
          <div class="description restaurants-menu__info nogutters">
            Ежедневно с 10:00 до 17:00
          </div>
        </div>        
        <div class="restaurants-menu__item-box">
          <div class="inner-title restaurants-menu__name">Адрес</div>
          <div class="description restaurants-menu__info nogutters">
            склон Лаура, горный приют «Пихтовый»
          </div>
        </div>        
      </div>
      <div class="restaurants-menu__item d-flex jcsb">
        <div class="restaurants-menu__item-box">
          <div class="inner-title restaurants-menu__name">Телефон</div>
          <div class="description restaurants-menu__info nogutters">
            8 938 444-41-22
          </div>
        </div>
        <div class="restaurants-menu__item-box">
          <div class="inner-title restaurants-menu__name">Сайт</div>
          <div class="description restaurants-menu__info nogutters">
            gosti.today/
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>