<section class="section ws">
  
  <div class="ws__container relative">
    <div class="ws__slider">
      <div class="ws__wrapper">
        
          <div class="ws__item ws__item--bg relative">
            <div class="ws__info absolute">
              <div class="display-h2 ws__name text-uppercase">
                шеф-повар <br>Константин Жук
              </div>              
            </div>
            <picture>
              <source srcset="assets/img/restaurants/ws.webp" type="image/webp">
              <img src="assets/img/restaurants/ws.jpg" alt="" class="bg-mode">
            </picture>
            <footer class="ws__footer absolute">
              <div class="ws__descriptions d-flex">
                <div class="description ws__description sm-hide">
                  Кухня это место, где всегда вкусно пахнет, где жарко и душно, где часто ругаются между собой повара и официанты, где царит суматоха и вечный стресс. А еще, кухня это место, где совершаются чудеса.
                </div>
                <div class="description ws__description">
                  Кухня Константина существенно отличается от тех блюд, которые вы когда-либо пробовали. Это настоящий вкус вдохновения, который подарит вам незабываемые минуты в ресторане Гостидзе.
                </div>
              </div>
            </footer>
          </div>

        
      </div>
    </div>   
    
  </div>
</section>