<section class="section invest">
  <div class="container invest__container relative">    
    <div class="invest__box d-flex">
      <div class="invest__head">
        <h2 class="display-h2 invest__title text-uppercase">
          Газпром Инвестор и создатель курорта
        </h2>
        <div class="invest__desc">
          Компания занимается развитием лыжно-биатлонного комплекса Лаура с 2000 года
        </div>
      </div>
      <div class="invest__items">
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              безупречный сервис
            </div>
          </div>
          <div class="invest__item-info">
            На территории курорта раположены уютные отели с богатой историей. Всего для гостей доступно 413 люкс-номеров и 16
            роскошных коттеджей. На территории курорта расположены уютные отели с богатой историей.
          </div>          
        </div>
        <!--  -->
        <!--  -->
        <div class="invest__item invest__item--lg d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              технологичность и безопаность
            </div>
          </div>
          <div class="invest__item-info">
          Все трассы спроектированы с учетом требований Международной федерации лыжного спорта FIS и Международного союза
          биатлонистов IBU.
          </div>          
        </div>
        <!--  -->
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              все для вашей семьи
            </div>
          </div>
          <div class="invest__item-info">
          Номера обустроены необходимой для ребенка мебелью. В детских клубах нашего курорта с малышами занимаются
          профессиональные педагоги. Вам остается только наслаждаться совместным отдыхом на семейном курорте.
          </div>          
        </div>
        <!--  -->
      </div>
    </div>
  </div>  
</section>