<section class="section location">
  <div class="container location__container d-flex">
    <div class="location__info d-flex">
      <div class="location__icon">
        <img src="/assets/img/icon-user.svg" alt="">
      </div>
      <div class="inner-title location__name text-uppercase">
        удобное расположение в 40 минутах <br>езды от аэропорта сочи
      </div>
    </div>
    <a class="location__link d-flex">
      <span>
        как добраться до курорта
      </span>
      <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.5 5.5L0.500001 0.5L0.5 10.5L9.5 5.5Z" fill="#0F6EB4" />
      </svg>
    </a>
  </div>
</section>