<section class="section privileges">
  <div class="container privileges__container d-flex relative">
    <div class="privileges__box relative">
      <div class="inner-title privileges__title text-uppercase">
        привилегии <br>для гостей
      </div>
      <div class="privileges__footer d-flex">
        <div class="description privileges__description">
          Пользуйтесь скидками программы лояльности Горы Привилегий, копите баллы и покоряйте новые вершины. Вас ждут закрытые
          мероприятия, скидки до 15 процентов и другое.
        </div>
        <a href="#" class="privileges__link">
          узнать больше
        </a>
      </div>
      <div class="privileges__present absolute">
        <img src="assets/img/present.svg" alt="">
      </div>
    </div>
  </div>
</section>