<section class="section awards">
  <div class="container">
    <div class="awards__box d-flex">
      <div class="awards__item d-flex">
        <div class="awards__icon">
          <img src="assets/img/awards/1.svg" alt="">
        </div>
        <div class="awards__name">
          <span>Поляна 1389 Отель и Спа </span>
            победитель в номинации 
          <br>Лучший горнолыжный отель
        </div>
      </div>
      <div class="awards__item d-flex">
        <div class="awards__icon">
          <img src="assets/img/awards/2.svg" alt="">
        </div>
        <div class="awards__name">
          <span>Поляна 1389 Отель и Спа </span>
          победитель в номинации 
          <br>Лучший горнолыжный отель
        </div>
      </div>
    </div>
  </div>
</section>