<div class="main-top relative">
  <div class="container main-top__container d-flex absolute">
    <div class="main-top__box fluid">
      <h1 class="main-top__title display-h1 text-uppercase">
        отдых <br>как новая <br>роскошь
      </h1>  
    </div>
  </div>
  <div class="container main-top__footer d-flex absolute">
    <div class="main-top__footer-box main-top__footer-desc">
      <span>
        Планируйте отдых вместе <br>с Курортом Газпром в любое <br>время года
      </span>
    </div>
    <div class="notification-box relative">
      <div class="main-top__footer-box main-top__footer-links">
        <a href="#" class="main-top__footer-link text-uppercase bordered">купить ски-пасс</a>
        <span></span>
        <a href="#" class="main-top__footer-link text-uppercase">трассы онлайн</a>
      </div>
      <div class="tooltip-box">
        <div class="tooltip-box__content d-flex">
          <div class="tooltip-box__icon"></div>
          <div class="tooltip-box__text">
            Возможно временное закрытие части канатных дорог
          </div>
          <div class="tooltip-box__close"></div>
        </div>
      </div>
    </div>
    <div class="main-top__footer-box reletive">
      <div class="main-top__map-icon">
        <img src="assets/img/map-icon.svg" alt="">
      </div>
      <a href="#" class="main-top__footer-link text-uppercase">изучить карту курорта</a>      
    </div>
  </div>
  <picture>
    <source srcset="assets/img/bg-main.webp" type="image/webp">
    <img src="assets/img/bg-main.jpg" alt="">
  </picture>
</div>
