<section class="section ws">
  
  <div class="ws__container relative">
    <div class="ws__slider">
      <div class="ws__wrapper">
        
          <div class="ws__item relative">
            <div class="ws__info absolute">
              <div class="display-h2 ws__name text-uppercase">
                активный <br>отдых. <br>незабываемые <br>впечатления
              </div>
              <div class="ws__buttons d-flex">
                  <a href="#" class="ws__btn active">зима</a>
                  <a href="#" class="ws__btn">Лето</a>
              </div>
            </div>
            <picture>
              <source srcset="assets/img/sliders/ws/snow.webp" type="image/webp">
              <img src="assets/img/sliders/ws/snow.jpg" alt="">
            </picture>
            <footer class="ws__footer absolute">
              <div class="ws__desc">
                В зимний сезон курорт работает как горнолыжный центр мирового уровня. Здесь можно кататься на сноуборде и горных лыжах, попробовать себя в беговых лыжах и биатлоне. 
              </div>
              <a href="#" class="ws__link box-link">
                узнать больше
              </a>
            </footer>
          </div>

        
      </div>
    </div>   
    
  </div>
</section>