.main-menu{
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #0F6FB5 32.28%, rgba(0, 94, 184, 0) 128.22%);
  backdrop-filter: blur(16px);
  z-index: 1000;
  display: flex;
  flex-flow: column;
  transition: all .4s;
  overflow: hidden;
  overflow-y: auto;
  @media (max-width:991px){
    top: 0;
    left: -100%;
    &.active {
        left: 0;
      }
        background: linear-gradient(180deg, #0F6FB5 80.28%, rgba(0, 94, 184, 0) 128.22%);
        backdrop-filter: blur(16px);
  }
  &.active{
    top: 0;
  }
  @media (min-width:1921px) {
    width: 1920px;       
    left: 50%;
    transform: translateX(-50%);   
  }
    @media (max-height:817px){
      padding-bottom: 20rem;
    }
  &__header{
      color: $light;           
      width: 100%;
      font-weight: 500;
      font-size: 16rem;
      line-height: 20rem;
      letter-spacing: 1.8rem;    
    
      @media (max-width:1280px) {
        font-size: 14rem;
        line-height: 20rem;
        letter-spacing: 1.4px;
      }
  }
  &__logo{
    display: inline-flex;
    background-color: $light;
    width: 141rem;
    height: 90rem;
    align-items: center;
    justify-content: center;
    @media (max-width:1440px) {
      width: 90rem;
      height: 60rem;
      svg{
        width: 65rem;
        height: 40rem;
      }
    }
    @media (max-width:1200px){
      display: none;
    }
  }
    &__container{
    align-items: center;
    justify-content: space-between;
  }
  &__toggler{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    align-items: center;
    cursor: pointer;
    &-icon{
      width: 14rem;
      height: 14rem;
      position: relative;
      margin-right: 9.6rem;
      span{
        position: absolute;
        top: 50%;
        margin-top: -1rem;
        left: 0;
        display: block;
        background-color: $light;
        width: 100%;
        height: 2rem;
        transform: rotate(-135deg);
        &:last-child{
          transform: rotate(135deg);
        }
      }
      @media (max-width:1200px){
        margin-right: 0;
      }
    }
    &-text{
      @media (max-width:1200px) {
          display: none;
        }
    }
    @media (max-width:1200px){
      position: relative;
      top: unset;
      left: unset;
      transform: unset;
      margin-left: auto;
      margin-top: 20rem;
      width: 14rem;
      height: 14rem;
    }
  }
   &__links{
    grid-template-columns: repeat(3,auto);   
    align-items: center;
    grid-column-gap: 20rem; 
    @media (max-width:1280px) {
        grid-gap: 10rem;
      }
    @media (max-width:1200px){
      display: none;
    }
  }
  &__link-separator{
    height: 20rem;
    width: 1rem;
    background-color: $light;
  }
  &__wrapp{
    padding-top: 80rem;
    color: $light;
    @media (max-width:1200px) {
        padding-top: 20rem;
      }
    @media (max-width:576px) {
      flex-flow: column;    
    }
    
    a{
      display: block;
    }
  }
  &__base{
    margin-bottom: 124rem;
    font-size: 66rem;
    line-height: 1;
    @media (max-width:1200px) {
        font-size: 48rem;
      }
    @media (max-width:991px) {
        font-size: 40rem;
        line-height: 38rem;
        margin-bottom: 30rem;
      }
    &-item{      
      &:not(:last-child){
        margin-bottom: 8rem;
        @media (max-width:991px) {
            margin-bottom: 24rem;
          }
      }
    }
  }
  &__unbase{
    font-size: 24rem;
    line-height: 28rem;
    font-weight: normal;
    @media (max-width:991px) {
        font-size: 14rem;
        line-height: 20rem;
      }
    @media (max-width:576px) {
      margin-bottom: 28rem;    
    }
    &-item {
        &:not(:last-child) {
          margin-bottom: 12rem;
          @media (max-width:991px) {
              margin-bottom: 28rem;
            }
        }
      }
  }
  &__right{
    min-width:493rem;
    font-size: 24rem;
    line-height: 28rem;
    font-weight: normal;
    
    @media (max-width:991px) {
        font-size: 14rem;
        line-height: 20rem;
      }
    @media (max-width:900px) {
      min-width: unset;    
    }
  }
  
  &__callcenter{
    color: rgba($light,.5);
  }
  &__nav{
    @media (max-width:576px) {
        margin-bottom: 28rem;
      }
    &--bottom{
      margin-top: auto;
      margin-bottom: 52rem;
      @media (max-width:576px) {
          margin-bottom: 18rem;
        }
    }
        &-item {
          &:not(:last-child) {
            margin-bottom: 12rem;
    
            @media (max-width:991px) {
              margin-bottom: 28rem;
            }
          }
        }
  }
}