<div class="main-top relative main-top--measure">
  <div class="container main-top__container d-flex absolute">
    <div class="main-top__box fluid">
      <h1 class="main-top__title display-h1 text-uppercase">
        организация <br>мероприятий
      </h1>
    </div>
  </div>
  <div class="container main-top__footer d-flex absolute">
    <div class="main-top__footer-box main-top__footer-desc main-top__footer-measure">
      <span >
        Любое событие приобретает особый статус, если проходит на курорте Газпром. Большой выбор залов, современное техническое
        оснащение, команда профессионалов и&nbsp;широкие возможности для отдыха, деловогои неформального общения.
      </span>
    </div>
    <div class="restaurants__brone restaurants__brone--measure">
    <a href="#" class="main-top__measure-link">провести мероприятие</a>
    </div>
  </div>
  <picture>
    <source srcset="assets/img/measure/header.webp" type="image/webp">
    <img src="assets/img/measure/header.jpg" alt="">
  </picture>
</div>