<div class="skp__contacts">
      <div class="container contacts__container d-flex jcsb">
        <div class="contacts__container-head cc-head">
          <div class="inner-title contacts__container-title">
            контакты клуба морозко
          </div>      
        </div>
        <div class="contacts__container-info d-flex cc-info ">
    
          <div class="contacts__container-table">
            <div class="inner-title contacts__container-name">Телефон для записи</div>
            <div class="contacts__container-days">
              <span class="description">
                <a href="tel:+78622595599">7 862 259-55-99</a>
              </span>
            </div>            
          </div>
    
          <div class="contacts__container-table">
            <div class="inner-title contacts__container-name">адрес и режим работы</div>
            <div class="description contacts__container-row contacts__container-row--lg d-grid">
              <div class="contacts__container-col">Приют Псехако</div>
              <div class="contacts__container-col">Ежедневно 08 30 - 20 00</div>
              <div class="contacts__container-col">Приют Пихтовый</div>
              <div class="contacts__container-col">Ежедневно 09 00 - 16 00</div>
            </div>
          </div>
          
    
        </div>
      </div>
    </div>