<div class="container sky-passes__nav sky-passes__nav--leaning d-grid">
  <div class="sky-passes__nav-item sky-passes__nav-item--small active" data-box="#skp">
    <span>занятия с инструктором</span>    
    <div class="sky-passes__nav-angle">
      <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 9L0 9.08524e-07L10 0L5 9Z" fill="#222A2F" />
      </svg>
    </div>
  </div>
  <div class="sky-passes__nav-item sky-passes__nav-item--small " data-box="#skp2">
    <span>Детский горнолыжный клуб</span>    
    <div class="sky-passes__nav-angle">
      <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 9L0 9.08524e-07L10 0L5 9Z" fill="#222A2F" />
      </svg>
    </div>
  </div>  
</div>