.is-ice-court{
  background: red;
    .hotel-top__contact--ice{
      span{
        color: $disable;
        &:not(:last-child){
          margin-bottom: 4px;
        }
        a {
          margin-left: 8px;
          color: $dark;
        }
        &:not(:first-of-type){
          margin-left: 32rem;
        }
      }
    }
}