.restaurants{
  margin-bottom: 359rem;
  &__brone{
    display: flex;
    width: 100%;
    &--measure{
      width: auto;
    }
    a{
      margin-left: auto;
    }
    &.fixed{
      position: fixed;
      bottom: 0;
      left: 0;
      padding-left: 40rem;
      padding-right: 40rem;
      padding-bottom: 20rem;
      z-index: 500;
      width: 100%;
      @media (max-width:1200px) {
          padding-left: 20rem;
          padding-right: 20rem;
          padding-bottom: 8rem;
          padding-top: 8rem;
          background: rgba(248, 248, 248, 0.82);        
          backdrop-filter: blur(29.9px);
        }
      a{
        background-color: $dark!important;
        color: $light;
        margin-bottom: 0;
      }
    }
  }
  &__brone-fixed{
    @extend .restaurants__brone,.fixed;
  }
  &__nav{
    display: flex;
    &-wrapp{      
      margin-bottom: 80rem;
      @media (max-width:991px){
        margin-bottom: 30rem;
      }
    }
  }
  &__navItem{
    padding: 10rem 14rem;
    display: inline-flex;
    color: $dark;
    font-size: 16rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20rem;
    letter-spacing: 1.8rem;
    background-color: $gray-hover;
    border-radius: 8rem;
    margin-right: 4rem;
    width: auto!important;
    @media (max-width:991px){
      font-size: 14rem;
      letter-spacing: 1.4rem;
    }
    &.active{
      background-color: $dark;
      color: $light;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &__list{
    width: 1614rem;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20rem;
    grid-column-gap: 20rem;

    @media (max-width:1600px) {
      width: 1264rem;
    }
    @media (max-width:1340px) {
      width: 100%;
    }
    @media (max-width:1200px){
      grid-row-gap: 4rem;
      grid-column-gap: 4rem;
    }
    @media (max-width:767px){
      grid-template-columns: 1fr;
    }
  }
  &__item{
    color: $light;
    &:nth-child(even){
      top: 119rem;
      @media (max-width:767px) {
          top: 0;
        }
    }
    img{
      width: 100%;
    }
  }
  &__info{
    max-width: 290rem;
    top: 40rem;
    left: 40rem;
    @media (max-width:1200px) {
        top: 20rem;
        left: 20rem;
      }
  }
  &__mark{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8rem;
  }
  &__location{
    align-items: center;
  }
  &__footer{
    position: absolute;
    bottom: 40rem;
    left: 40rem;
    @media (max-width:1200px) {
        bottom: 20rem;
        left: 20rem;
      }
  }
  &__name{
    margin-bottom: 0!important;
  }
  &__desc{
    margin-top: 30rem;
    @media (max-width:1200px){
      margin-top: 12rem;
    }
  }
  &__link{
    display: inline-flex;
    margin-top: 30rem;
    @media (max-width:1200px) {
        margin-top: 22rem;
      }
  }

  &-menu{
    &__head{
      padding-top: 40rem;
      max-width: 290rem;
      
      @media (max-width:1200px) {
          max-width: 200rem;
          padding-top: 30rem;
        }
      @media (max-width:1100px) {
          padding-top: 0;
          max-width: 269rem;
          margin-bottom: 40rem;
        }
      &--lg{
        max-width: 305rem;
        .restaurants-menu__title{
          margin-bottom: 0;
        }
        @media (max-width:1200px){
          max-width: 250rem;
        }
      }
    }
    &__main{
      width: 66.25%;
      @media (max-width:1100px) {
          width: 100%;
        }
    }
    &__item{
      padding: 40rem 0;
      border-top: 1.5rem solid $dark;
      @media (max-width:1200px) {
          padding: 30rem 0;
        }
      &:last-child{
        padding-bottom: 0;
      }
    }
    &__item-box{
      width: 365rem;
      @media (max-width:1200px){
        width: 320rem;
      }
      @media (max-width:720px){
        width: 100%;
        &+&{
          margin-top: 40rem;
        }
      }
    }
    &__info{
      @media (max-width:720px) {
         width: 320rem;
         margin-bottom: 16rem;
        }
      &.nogutters{
        margin-bottom: 0;
      }
    }
    &__title{
      margin-bottom: 30rem;
      @media (max-width:1100px){
        margin-bottom: 16rem;
      }
    }
    &__name{
      margin-bottom: 16rem;
    }

    &__link{
      @media (max-width:720px){
        position: relative;
        display: inline-flex;
        padding-right: 20.5rem;
        &::before{
          content:"";
          position: absolute;
          width: 8.5rem;
          height: 7.5rem;
          right: 0;
          top: 44%;
          transform: translateY(-50%);
          background-image: url('../img/link-icon.svg');
          background-repeat: no-repeat;
          background-position: 0 center;
        }
      }
    }
  }
}