<section class="section news-single">
  <div class="container news-single__container d-flex jcsb">
    <div class="news-single__left">
      <header class="description news-single__header d-flex{% if promo %} news-single__header--promo{% endif %}">
        {% if promo %}
        <span class="news-single__promo">Промо</span>
        {% endif %}
        <span class="news-single__date">04 декабря 2022</span>
      </header>
      <h1 class="display-h2 news-single__title text-uppercase">{{pageTitile}}</h1>
      <div class="description news-single__desc">
        {% if program %}
        Тренировка и аквааэробика. Место встречи Гранд Отель Поляна, спортивная площадка корпуса А. Телеефон для связи 7 862
        259-58-08.
        {% else %}
        При бронировании услуги из спа-меню от 2 500 тысяч рублей, посещение термальной зоны в подарок. Запись по телефону 7 862 259-50-83.
        {% endif %}
      </div>
      {% if program %}
        <footer class="news-single__footer">
          <a href="#" class="news-single__btn text-uppercase btn-signup">
            зарегистрироваться
          </a>
        </footer>   
        {% else %}
        <a href="#" class="box-link news-single__link">
          посмотреть цены
        </a>  
      {% endif %}
    </div>
    <div class="description news-single__right">
      {% if program %}
        <div class="news-single__program">
          <div>В программе</div>
          <p>10.00 - 11.00 Тренировка Body Strong, спортивная площадка, Гранд Отель Поляна, корпус А</p>
          <p>11.30 - 12.30 Общение с тренером, перемещение в спа-центр</p>
          <p>12.00 - 13.00 Аквааэробика в бассейне</p>
          <p>13.00 - 15.00 Отдых в спа-центре и знакомство с услугами</p>
        </div>
        {% else %}
        <div class="news-single__top-content"></div>
        <p>В спа-меню вы можете выбрать эксклюзивные предложения от спа-центра Chandelle Blanche Medi Spa Beauty Lounge
        косметические процедуры по уходу за лицом и телом, аппаратные методики, гидропроцедуры и многое другое.</p>
      {% endif %}
      <div class="news-single__img">
        <img src="./assets/img/news-single/img.jpg" alt="Открытая тренировка по плаванию">
      </div>
      {% if program %}
      <p>Тренировки проведет квалифицированный тренер по плаванию Ирина Берестова. Возрастное ограничение 14 лет. Количество мест
      ограничено, необходима предварительная регистрация.</p>
      {% else %}
      <p>Термальные зоны в Гранд Отель Поляна Корпус B - финская сауна, хамам, душ впечатлений, колодец с ледяной крошкой,
      релакс-бассейн с каскадными душами. Предоставляем полотенце и халат. Режим работы 9 30 - 21 00.</p>
      <p>Термальные зоны в Гранд Отель Поляна Корпус C - русская парная, финская сауна, аутентичный хамам, колодец
      с ледяной крошкой, бассейн с каскадными душами и джакузи, холодная купель, дорожка Кнейпа. Предоставляем полотенце
      и халат. Режим работы 9 30 - 21 00.</p>
      <p>
        Термальные зоны в Гранд Отель Поляна Корпус C - русская парная, финская сауна, аутентичный хамам, колодец
        с ледяной крошкой, бассейн с каскадными душами и джакузи, холодная купель, дорожка Кнейпа. Предоставляем полотенце
        и халат.
      </p>
      {% endif %}
    </div>
  </div>
</section>
