<div class="main-top relative main-top--measure">
  <div class="container main-top__container d-flex absolute">
    <div class="main-top__box fluid">
      <h1 class="main-top__title display-h1 text-uppercase">
        изысканная <br>кухня на любой <br>вкус
      </h1>
    </div>
  </div>
  <div class="container main-top__footer d-flex absolute">
    <div class="brone restaurants__brone">
      <a href="#" class="btn-signup main-top__measure-link">забронировать стол</a>
    </div>
  </div>
  <picture>
    <source srcset="assets/img/restaurants/header.webp" type="image/webp">
    <img src="assets/img/restaurants/header.jpg" alt="">
  </picture>
</div>