<section class="section invest">
  <div class="container invest__container relative">    
    <div class="invest__box d-flex">
      <div class="invest__head invest__head--lg">
        <h2 class="display-h2 invest__title invest__title--wm text-uppercase" lang="ru">          
          <span class="hide-xs">индивидуальный подход</span>
          <span class="xs">индивидуаль&shy;ный подход</span>
        </h2>
        
      </div>
      <div class="invest__items">
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              персональный <br>менеджер
            </div>
          </div>
          <div class="invest__item-info">
            Когда хороший инструктор выводит группу на склон, то сразу, с одного взгляда способен оценить безопасность ситуации, рельеф, количество и уровень катающихся на склоне людей, ветер, снег, туман.
          </div>          
        </div>
        <!--  -->
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              трансфер <br>до отеля 
            </div>
          </div>
          <div class="invest__item-info">
            Для вашего комфорта и душевного спокойствия наш отель предлагает широкий выбор трансферов с профессиональными водителями из/ в любое место по вашему выбору.
          </div>          
        </div>
        <!--  -->        
      </div>
    </div>
  </div>  
</section>