<section class="section invest">
  <div class="container invest__container relative">    
    <div class="invest__box d-flex">
      <div class="invest__head">
        <h2 class="display-h2 invest__title text-uppercase">
          детский клуб и личная няня
        </h2>
        
        <a href="#" class="invest__link invest__link--wm box-link">
          узнать больше
          <span class="invest__link--mob md">
            <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.5 4.75192L0 9L0 0.5L7.5 4.75192Z" fill="#0F6EB4" />
            </svg>
          </span>
        </a>
      </div>
      <div class="invest__items">
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              Опытные <br>воспитатели
            </div>
          </div>
          <div class="invest__item-info">
            Теперь не нужно беспокоиться о том, чем занять ребенка, пока вы будете покорять новый склон или нежиться в спа. Опытные воспитатели позаботятся о ваших детях, помогут им весело и с пользой провести время. 
          </div>          
        </div>
        <!--  -->
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              разнообразный <br>досуг ребенка
            </div>
          </div>
          <div class="invest__item-info">
            Развивающие, подвижные и сюжетно-ролевые игры, занятия по прикладному искусству, работа в группах, театральные постановки всё это можно найти в детском клубе Полянка.
          </div>          
        </div>
        <!--  -->        
      </div>
    </div>
  </div>  
</section>