<section class="section ws ws--holidays">  
  <div class="ws__container relative">
    <div class="ws__slider">
      <div class="ws__wrapper">
        
          <div class="ws__item relative">
            <div class="ws__info absolute">
              <div class="display-h2 ws__name text-uppercase">
                коттеджи в стиле <br>альпийских шале
              </div> 
              <div class="description ws__price">
                120 000р за ночь / 10-12 гостей
              </div>             
            </div>
            <picture>
              <source srcset="assets/img/hotel/shale.webp" type="image/webp">
              <img src="assets/img/hotel/shale.jpg" alt="">
            </picture>
            <footer class="ws__footer absolute">
              <div class="ws__desc">
                Виллы сочетают в себе уют домашней обстановки и максимальный комфорт курортной жизни. Количество спален позволит
                прекрасно и беззаботно провести время большой семье или компании друзей.
              </div>
              <a href="#" class="ws__link box-link">
                узнать больше
              </a>
            </footer>
          </div>

        
      </div>
    </div>    
  </div>
</section>