<div class="container hotel-top hotel-top--start d-flex jcsb">
  <h2 class="display-h1  hotel-top__title text-uppercase">
    коммерческие <br>мероприятия
  </h2>
  <div class="hotel-top__descriptions hotel-top__descriptions--small d-flex">    
    <div class="hotel-top__description hotel-top__description--small">
      Любое событие приобретает особый статус, если проходит на Курорте Газпром. 
      Большой выбор площадок, современное техническое оснащение и настоящая команда профессионалов позволяют провести мероприятие любого формата и&nbsp;масштаба.
    </div>
  </div>
</div>
