<div class="container hotel-top d-flex jcsb">
  <h2 class="display-h2 hotel-top__title text-uppercase">
    семейный <br>отель на высоте <br>550м
  </h2>
  <div class="hotel-top__descriptions d-flex">
    <div class="description hotel-top__description">
      Гранд Отель Поляна доступен для гостей в любое время года. Главные особенности территории это каньоны, водопады и
      альпийские луга. Богатая растительность и разнообразие животного мира.
    </div>
    <div class="description hotel-top__description">
      Гостям доступны канатные дороги и горнолыжные трассы мирового уровня, экскурсии и развлекательные программы. Роскошная
      обстановка гарантирует лучшие впечатления для всей семьи.
    </div>
  </div>
</div>
