<div class="container hotel-top d-flex jcsb">
  <h2 class="display-h2 display-h2--skp hotel-top__title text-uppercase">
    одна из лучших <br>горнолыжных <br>школ России
  </h2>
  <div class="hotel-top__descriptions d-flex">
    <div class="description hotel-top__description">
      В команде работает 170 профессиональных инструкторов, среди них мастера спорта, чемпионы и&nbsp;призеры международных и&nbsp;российских соревнований, победители соревнований среди инструкторов.
    </div>
    <div class="description hotel-top__description">
      Обучение проводится на трассах любой сложности на склонах Лаура и Альпика. Независимо от того, начинаете вы только кататься или уже имеете опыт, мы уверены, что нам есть чем поделиться с вами.
    </div>
  </div>
</div>
