<div class="container hotel-top d-flex jcsb">
  <h2 class="display-h2 hotel-top__title text-uppercase">
    ДЕТСКИЙ <br>ГОРНОЛЫЖНЫЙ <br>КЛУБ МОРОЗКО
  </h2>
  <div class="hotel-top__descriptions d-flex">
    <div class="description hotel-top__description">
      Зимой для маленьких гостей курорта работают склоны детского горнолыжного клуба Морозко, на которых проходят индивидуальные и групповые занятия. Программа тренировок расписана с использованием схем и картинок. 
    </div>
    <div class="description hotel-top__description">
      Юные лыжники могут самостоятельно прочитать свой учебный план. Также для запоминания используют стихи, игровые сценарии, яркие вспомогательные игрушки. С ними горнолыжные уроки становятся вдвойне интересными.
    </div>
  </div>
</div>
