<div class="container hotel-top d-flex jcsb">
  <div class="hotel-top__head">
    <h2 class="display-h2 hotel-top__title hotel-top__title--wm text-uppercase">
     Семейный <br>люкс
    </h2>
    <div class="desctiption hotel-top__subtitle">
      до 5 гостей / 2 спальни / 1 ванная / кровать KING-SIZE
    </div>
  </div>
  <div class="hotel-top__descriptions hotel-top__descriptions--lg d-flex">
    <div class="description description--sm hotel-top__description">
      Комфортабельный трехкомнатный номер, общей площадью 100 кв.м., состоит из гостиной, основной и малой спален, двух
      ванных комнат и прихожей. В основной спальне - широкая двуспальная кровать, в&nbsp;малой - две односпальные кровати.
    </div>
    <div class="description description--sm hotel-top__description">
      <span class="d-block">
        В гостиной располагается журнальный столик и мягкая мебель. Комнаты оформлены в стиле альпийского шале, декорированы
        картинами с горными пейзажами. Номер оснащен выходом на видовой балкон с летней мебелью.
      </span>
      <div class="hotel-top__price">
        <div class="hotel-top__price-price">31 000₽</div>
        <div class="hotel-top__price-unit">/ ночь</div>
      </div>
    </div>
  </div>
</div>
