<div class="container hotel-top d-flex jcsb">
  <div class="hotel-top__head hotel-top__head--skp">
    <h2 class="display-h2 display-h2--skp hotel-top__title hotel-top__title--wm text-uppercase">
     школа беговых <br>лыж и биатлона 
    </h2>
    <a href="#" class="contacts__order top-section__link top-section__link--right hide-lg">
        <span>узнать больше</span>
        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.5 4.75192L0 9L0 0.5L7.5 4.75192Z" fill="#0F6EB4"></path>
        </svg>
      </a>
  </div>
  <div class="hotel-top__descriptions d-flex">
    <div class="description hotel-top__description">
      WE CLUB - первая в России лыжная школа на олимпийском стадионе Лаура. Это единственное место в Сочи, где для занятий беговыми лыжами и биатлоном есть все - олимпийская трасса, тренеры мирового уровня, высокий сервис, прокат снаряжения.
    </div>
    <div class="description hotel-top__description">
      Тренировки ведут мастера спорта, победители международных
      и всероссийских соревнований, призеры кубков мира - вчера они стояли на пьедестале, а сегодня передают свои знания на тренировках.
    </div>
  </div>
  <div class="hotel-top__linkmobile show-lg">
    <a href="#" class="contacts__order top-section__link top-section__link--right">
      <span>узнать больше</span>
      <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.5 4.75192L0 9L0 0.5L7.5 4.75192Z" fill="#0F6EB4"></path>
      </svg>
    </a>
  </div>
</div>