<div class="container hotel-top d-flex jcsb">
  <h2 class="inner-title hotel-top__title text-uppercase">
    WE CLUB — первая <br>в России школа <br>беговых лыж и <br>биатлона в горах
  </h2>
  <div class="hotel-top__descriptions d-flex">
    <div class="description hotel-top__description">
      Это единственное место в Сочи, где для занятий беговыми лыжами и биатлоном есть все — олимпийская трасса, тренеры мирового уровня, высокий сервис, прокат снаряжения и уютное кафе.
    </div>
    <div class="description hotel-top__description">
      Вы тренируетесь на трассе лыжно-биатлонного комплекса Лаура, где в 2014 году проходили соревнования зимних Олимпийских игр по биатлону и лыжным гонкам. Сейчас эту трассу используют сборные команды России.
    </div>
  </div>
</div>