<section class="container contacts__header d-flex jcsb">
  <h1 class="display-h1 display-h1--sm text-uppercase">
    рады видеть <br>вас на курорте <br>газпром
  </h1>
  <div class="contacts__box">
    <!--  -->
    <div class="contacts__table">
      <h2 class="inner-title text-uppercase contacts__table-title">контакты</h2>
      <!--  -->
      <div class="description contacts__row d-grid">
        <div class="contacts__col">Адрес</div>
        <div class="contacts__col">Россия, г. Сочи, с. Эсто-Садок, <br>ул. Ачипсинская, 16</div>
        <div class="contacts__col">Телефон</div>
        <div class="contacts__col"><a href="tel:+78622595595">7 862 259 55 95</a></div>
        <div class="contacts__col">Факс</div>
        <div class="contacts__col"><a href="tel:+78622595901">7 862 259 59 01</a></div>
        <div class="contacts__col">E-mail</div>
        <div class="contacts__col"><a href="mailTo:info@polyanaski.ru"></a>info@polyanaski.ru</div>
      </div>
      <!--  -->     
    </div>
    <!--  -->
    <!--  -->
    <div class="contacts__table">
      <h2 class="inner-title text-uppercase contacts__table-title">бронирование</h2>
      <!--  -->
      <div class="description contacts__row d-grid">
        <div class="contacts__col">Телефон</div>
        <div class="contacts__col"><a href="tel:+78622595959">7 862 259 59 59</a></div>
        <div class="contacts__col">E-mail</div>
        <div class="contacts__col"><a href="mailTo:r@polyanaski.ru">r@polyanaski.ru</a></div>
      </div>

      <a href="#" class="contacts__order top-section__link top-section__link--right">
        <span>заказать трансфер</span>
        <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.5 4.75192L0 9L0 0.5L7.5 4.75192Z" fill="#0F6EB4" />
        </svg>
      </a>
      <!--  -->     
    </div>
    <!--  -->
  </div>
</section>
