<section class="section contacts__main">
<div class="container contacts__container d-flex jcsb">
  <div class="contacts__container-head">
    <div class="inner-title contacts__container-title">
      мы открыты <br>к сотрудничеству
    </div>
    <div class="description contacts__container-desc">
      Курорт имеет широкую популярность в стране, мы предлагаем своим партнерам широкие возможности в любое время года.
    </div>
    <a href="#" class="box-link contacts__container-link">узнать больше</a>
  </div>
  <div class="contacts__container-info d-flex">
    
      <div class="contacts__container-table">
        <div class="inner-title contacts__container-name">мероприятия</div>
        <div class="description contacts__container-row d-grid">
          <div class="contacts__container-col">Телефон</div>
          <div class="contacts__container-col"><a href="tel:+78622595595">7 862 259 55 95</a></div>
          <div class="contacts__container-col">E-mail</div>
          <div class="contacts__container-col"><a href="mailTo:mice@polyanaski.ru">mice@polyanaski.ru</a></div>
        </div>
      </div>
      <div class="contacts__container-table">
        <div class="inner-title contacts__container-name">соревнования</div>
        <div class="description contacts__container-row d-grid">
          <div class="contacts__container-col">Телефон</div>
          <div class="contacts__container-col"><a href="tel:+78622595595">7 862 259 55 95</a></div>
          <div class="contacts__container-col">E-mail</div>
          <div class="contacts__container-col"><a href="mailTo:sport@polyanaski.ru">sport@polyanaski.ru</a></div>
        </div>
      </div>
    
  </div>
  <div class="contacts__container-info d-flex">
    
      <div class="contacts__container-table">
        <div class="inner-title contacts__container-name">аренда помещений</div>
        <div class="description contacts__container-row d-grid">        
          <div class="contacts__container-col">E-mail</div>
          <div class="contacts__container-col"><a href="mailTo:rent@polyanaski.ru">rent@polyanaski.ru</a></div>
        </div>
      </div>
      <div class="contacts__container-table">
        <div class="inner-title contacts__container-name">реклама</div>
        <div class="description contacts__container-row d-grid">        
          <div class="contacts__container-col">E-mail</div>
          <div class="contacts__container-col">
            <div class="email-wrap">
              <a href="mailTo:a.fesatidi@svod-int.ru" class="d-block">a.fesatidi@svod-int.ru</a>
              <span>Александра Фесатиди, менеджер <br>по рекламе</span>
            </div>
            <a href="mailTo:pr@svod-int.ru" class="d-block">pr@svod-int.ru</a>
            <a href="activity@polyanaski.ru" class="d-block">activity@polyanaski.ru</a>
          </div>
        </div>
      </div>
    
  </div>
  <div class="contacts__container-info d-flex">
  
    <div class="contacts__container-table">
      <div class="inner-title contacts__container-name">коммерческие <br>предложения</div>
      <div class="description contacts__container-row d-grid">        
        <div class="contacts__container-col">E-mail</div>
        <div class="contacts__container-col"><a href="mailTo:general@svod-int.ru">general@svod-int.ru</a></div>
      </div>
    </div>
    <div class="contacts__container-table">
      <div class="inner-title contacts__container-name">туроператорам</div>
      <div class="description contacts__container-row d-grid">
        <div class="contacts__container-col">Телефон</div>
        <div class="contacts__container-col">
          <a href="tel:+786225955955#2160" class="d-block">7 862 259 55 95 доб. 2160</a>
          <a href="tel:+79384445854" class="d-block">7 938 444-58-54</a>
        </div> 
        <div class="contacts__container-col">E-mail</div>
        <div class="contacts__container-col"><a href="sales@polyanaski.ru. ">sales@polyanaski.ru.</a></div>
      </div>
    </div>
  
  </div>
</div>
</section>

<section class="section contacts__main-bottom">
  <div class="container contacts__container d-flex jcsb">
    <div class="contacts__container-head">
      <div class="inner-title contacts__container-title">
        карьера <br>в газпром курорт
      </div>
      <div class="description contacts__container-desc">
        Успех нашей компании - это заслуга сотрудников. Мы ценим вклад каждого в развитие. Талантливым, инициативным,
        профессионально подготовленным соискателям всегда найдется достойное место в рядах сотрудников.
      </div>
      <a href="#" class="box-link contacts__container-link">узнать больше</a>
    </div>
    <div class="contacts__container-info d-flex">

      <div class="contacts__container-table">
        <div class="inner-title contacts__container-name">контакты hr</div>
        <div class="description contacts__container-row d-grid">
          <div class="contacts__container-col">Телефон</div>
          <div class="contacts__container-col"><a href="tel:88622595055">8 862 259-50-55</a></div>
          <div class="contacts__container-col">E-mail</div>
          <div class="contacts__container-col"><a href="mailTo:mice@polyanaski.ru">e-mail: hr@svod-int.ru</a></div>
        </div>
      </div>
      <div class="contacts__container-table">
        <div class="inner-title contacts__container-name">график работы</div>
        <div class="contacts__container-days">
          <span class="d-block">Понедельник-четверг с 8.00 до 17.00</span>
          <span class="d-block">Пятница с 8.00 до 16.00</span>
        </div>
      </div>

    </div>       
  </div>
</section>

<section class="section contacts__main-form">
  <div class="container contacts__container d-flex jcsb">
    <div class="contacts__container-head">
      <div class="inner-title contacts__container-title">
        Поделитесь <br>мнением <br>или задайте <br>вопрос
      </div>      
    </div>    
    <form action="/" class="contacts__container-form">
      <div class="form-group">
        <textarea name="coment" id="coment" placeholder="комментарий"></textarea>
      </div>
      <div class="contacts__container-footer">
        <button type="botton" class="contacts__container-btn text-uppercase">дальше</button>
      </div>
    </form>
    
  </div>
</section>