$light:#FFFFFF;
$dark:#222A2F;
$accent:#0F6EB4;
$bg:#f5f5f5;
$drop:#fdfdfd;
$gray-hover:#EEEFF0;
$disable:#989899;
$promo:linear-gradient(0deg, #F05F0D, #F05F0D),#222A2F;
$old:#87B7D9;
$counter:#D4D5D6;
$green:#03A300;
$red: #E32B31;
$blue: #1A9FFF;