{% set files =[
  'Правила поведения на территории ГТЦ Газпром',
  'Правила перевозки пассажиров по пассажирским подвесным и 
  <br>буксировочным канатным дорогам ГТЦ ПАО Газпром',
  'Правила продажи услуг канатных дорог',
  'Правила поведения на горнолыжных трассах и склонах',
  'Перечень запрещенных предметов и веществ',
  'Правила проживания в Гостиницах ГТЦ ПАО Газпром',
  'Правила онлайн-бронирования номеров',
  'Политика обработки персональных данных в ООО Свод Интернешнл Д. У.',
  'Правила пользования Приложением горно-туристического центра Газпром',
  'Правила посещения бассейнов в ГК Гранд Отель Поляна и Поляна 1389 Отель и Спа',
  'Правила использования тарифов на услуги канатных дорог ГТЦ ПАО Газпром, 
  <br>ГКК Альпика-Сервис и на услуги ОКЦ Галактика',
  'Правила использования тарифов на услуги канатных дорог ГТЦ ПАО Газпром,
   <br>ГК Альпика-Сервис в период с даты открытия до даты закрытия зимнего горнолыжного сезона 2020-2021гг.',
   'Правила проезда транспортных средств и пользования неохраняемой парковкой',
   'Правила посещения Ледовой арены'
  ] %}

  {% set filesTitile = 'основные правила 
  <br>посещения курорта газпром' %}

  {% set hideTitle = 'Аренда помещения' %}

  {% include "./_files.html" %}