<section class="section rules__main">
<div class="container">
  <div class="rules__box">
    <div class="rules__box-item d-flex jcsb">
      <div class="rules__box-head">
        <h2 class="inner-title inner-title--nogutters text-uppercase">заселение и&nbsp;оплата</h2>
      </div>
      <div class="rules__box-info">
        <ul class="description rules__list">
          <li>
            <span>Время заезда в отель 15.00</span>
            <br><span>Время выезда из отеля 12.00</span>
          </li>
          <li>
            При размещении до расчетного часа оплата взымается
            <br><span>с 00.00 до 03.00 - плата за полные сутки,</span>
            <br><span>c 03.00 до 15.00 - плата за половину суток.</span>
          </li>
          <li>
            Заезд в период с 03.00 до 15.00 не предусматривает завтрак в день заезда, 
            <br>при этом по желанию он может быть предоставлен за дополнительную плату.
          </li>
          <li>
            Услуги могут быть оплачены за наличный расчет, банковской картой 
            <br>или банковским переводом. Принимаются банковские карты платежных систем 
            <br>Visa, Eurocard/MasterCard, American Express, Мир и UnionPay.
          </li>
        </ul>
      </div>
    </div>
    <div class="rules__box-item d-flex jcsb">
      <div class="rules__box-head">
        <h2 class="inner-title inner-title--nogutters text-uppercase">дети</h2>
      </div>
      <div class="rules__box-info">
        <ul class="description rules__list">
          <li>
            Заселение детей, не достигших 14-летнего возраста, осуществляется на 
            <br>основании документов, удостоверяющих личность находящихся вместе с ними 
            <br>законных представителей, а также свидетельств о рождении несовершеннолетних.
          </li>
          <li>
            Возможно размещение детей на дополнительном месте в номере.
          </li>
        </ul>
      </div>
    </div>
    <div class="rules__box-item d-flex jcsb">
      <div class="rules__box-head">
        <h2 class="inner-title inner-title--nogutters text-uppercase">комфорт</h2>
      </div>
      <div class="rules__box-info">
        <ul class="description rules__list">
          <li>
            Уборка номеров осуществляется в течение дня с 09.00 до 19.00
          </li>
          <li>
            Можно сдать свои вещи в стирку и химчистку. Для получения услуги необходимо 
            <br>самостоятельно заполнить бланк заказа на стирку и химчистку, поместить вещи
            <br>и заполненный бланк в специальный пакет и сообщить на стойку, либо горничной.
          </li>
          <li>
            Запрещено курить в гостиничных номерах, балконах, террасах, а также
            <br>на территории Гостиниц и ГТЦ Газпром вне специально выделенных мест.
          </li>
          <li>
            В период с 23.00 часов до 07.00 часов запрещается громко включать аудио
            <br>и видеоаппаратуру, громко разговаривать, создавать иной шум, мешающий 
            <br>другим Гостям Гостиницы.
          </li>
        </ul>
      </div>
    </div>
    <div class="rules__box-item d-flex jcsb">
      <div class="rules__box-head">
        <h2 class="inner-title inner-title--nogutters text-uppercase">питомцы</h2>
      </div>
      <div class="rules__box-info">
        <ul class="description rules__list">
          <li>
            Размещение в Гостинице с животными запрещено. При установлении факта 
            <br>размещения с животными, Администрация вправе удержать с Гостя неустойку
            <br>в установленном Администрацией размере за каждый день нарушения Правил,
            <br>а также отказать в оказании услуг.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>