<div class="main-top main-top--cck relative">
  <div class="container main-top__container main-top__container--cck d-flex absolute">
  <a href="#" class="top-section__link top-section__link--left">
      <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5L9 0L9 10L0 5Z" fill="#0F6EB4" />
      </svg>
      <span>зимний отдых</span>
    </a>
    <div class="main-top__box fluid">
      <h1 class="main-top__title display-h1 text-uppercase">
        школа беговых <br>лыж и биатлона
      </h1>  
    </div>
  </div>  
  
  <picture>
    <source srcset="assets/img/sky-bg.webp" type="image/webp">
    <img src="assets/img/sky-bg.jpg" alt="" class="about-image">
  </picture>
</div>
