<section class="section invest">
  <div class="container invest__container relative">    
    <div class="invest__box d-flex">
      <div class="invest__head invest__head--small">
        <h2 class="display-h2 invest__title invest__title--wm text-uppercase" lang="ru">          
          <span>спортивный отдых для всей семьи</span>
        </h2>
        
      </div>
      <div class="invest__items">
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              все уровни <br>подготовки
            </div>
          </div>
          <div class="invest__item-info">
          У нас занимаются как абсолютные новички, так и профессиональные спортсмены, а также дети от 4-х лет.
          </div>          
        </div>
        <!--  -->
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              прокати <br>и кафе
            </div>
          </div>
          <div class="invest__item-info">
            Катайтесь с тренером или самостоятельно - в школе есть отличный прокат качественного лыжного снаряжения. А после
            занятия приходите греться и пить вкусный кофе в кафе WE CLUB.
          </div>          
        </div>
        <!--  -->        
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              биатлон <br>и пневматика
            </div>
          </div>
          <div class="invest__item-info">
            Кроме лыж, у нас можно заняться биатлоном и пострелять из пневматической винтовки под руководством опытнейших
            российских спортсменов.
          </div>          
        </div>
        <!--  -->        
      </div>
    </div>
  </div>  
</section>