<section class="section school">
  <div class="container school__container d-flex jcsb">
    <div class="school__head">
      <div class="inner-title school__title text-uppercase">контакты школы</div>
    </div>
    <div class="school__contacts">
      <div class="school__item school__item--top d-flex">
        <div class="school__item-box school__item-left">
          <div class="inner-title school__name text-uppercase">Режим работы</div>
          <div class="description school__desc">10 00 - 18 00</div>
        </div>
        <div class="school__item-box school__item-right">
          <div class="inner-title school__name text-uppercase">Телефон для записи</div>
          <div class="description school__desc">7 968 300 60 60</div>
        </div>
      </div>
      <div class="school__item d-flex">
        <div class="school__item-box school__item-left">
          <div class="inner-title school__name text-uppercase">адрес</div>
          <div class="description school__desc">ЛБК Лаура</div>
        </div>
        <div class="school__item-box school__item-right">
          <div class="inner-title school__name text-uppercase">сайт</div>
          <div class="description school__desc">we-club.ru</div>
        </div>
      </div>
    </div>
  </div>
</section>