<section class="section ws">
  
  <div class="ws__container relative">
    <div class="ws__slider">
      <div class="ws__wrapper">
        
          <div class="ws__item relative">
            <div class="ws__info absolute">
              <div class="display-h2 ws__name ws__name--auto text-uppercase">
                SPORT & EVENT
              </div>              
            </div>
            <picture>
              <source srcset="assets/img/sliders/ws/img.webp" type="image/webp">
              <img src="assets/img/sliders/ws/img.jpg" alt="">
            </picture>
            <footer class="ws__footer absolute">
              <div class="ws__descriptions d-flex">
                <div class="description ws__description ws__description--lg sm-hide">
                  Клуб был создан одним из лидеров российской ивент-индустрии Евгенией 
                  Беспалой и мастером спорта международного класса, победителем и призером кубков Европы Алексеем Корневым. 
                </div>
                <div class="description ws__description ws__description--lg sm-hide">
                  Поэтому WE CLUB объединяет лучшее из двух миров — спорта и ивента. 
                  На&nbsp;стадионе проходят яркие спортивные мероприятия, открытые мастер-классы со звездами спорта и многое другое.
                </div>
                <div class="description ws__description ws__description--lg sm">
                  WE CLUB объединяет лучшее из двух миров — спорта и ивента. 
                  На стадионе проходят яркие спортивные мероприятия, мастер-классы со звездами спорта и многое другое.
                </div>
              </div>
            </footer>
          </div>

        
      </div>
    </div>   
    
  </div>
</section>