<section class="bx section walking" id="skp3">
<h2 class="inner-title walking__title text-center line-after">
  <span>
    трассы для беговых лыж <br>на олимпийском стадионе <br>лаура
  </span>
</h2>
<div class="container skp">
  <div class="skp__box skp__box--biatlone d-flex relative">
    <!--  -->
    <div class="skp__box-header d-flex jcsb">
      <div class="skp__box-main">
        <div class="inner-title skp__box-name">абонемент  <br>на весь сезон</div>
        <div class="description skp__box-description skp__box-description--small">
          <span>
            Действует на трассах бегоых лыж стадиона Лаура с 08.30 до 18.00 в любой день сезона
          </span>
        </div>
        
      </div>
  
    </div>
    <!--  -->
    <div class="skp__box-footer d-flex jcsb">
      <div class="skp__box-times">
        <div class="skp__box-time price">2 000₽</div>
        <div class="description show-lg price-description">взрослый</div>
        <span class="description skp__box-time_bottom hide-lg">детский - 1 300₽</span>
        <div class="skp__box-time price show-lg">1 300₽</div>
        <span class="description skp__box-time_bottom show-lg">детский</span>
      </div>
      <a href="#" class="skp__box-btn">купить</a>
    </div>
    <div class="svg-absolute svg-absolute--biatlone absolute">
      <img src="/assets/img/sky/biatlon.svg" alt="">
    </div>
  </div>
</div>
<div class="skp__gallery-wrapp">
  {% include "./_gallery-test.html" %}
</div>
  <section class="section map-separator map-mob">
    <div class="map-separator__btn line-after">
      <span class="inline-flex map-separator__img">
        <img src="assets/img/map-mob.svg" alt="">
      </span>
    </div>
    <a href="#" class="map-separator__link box-link">изучить карту курорта</a>
  </section>
</section>