<div class="main-top relative main-top--holidays">
  <div class="container main-top__container d-flex absolute">
    <div class="main-top__box fluid">
      <h1 class="main-top__title display-h1 text-uppercase">
        зимний <br>активный <br>отдых
      </h1>  
    </div>
  </div>
  <div class="container main-top__holidays absolute d-flex">
  <div class="main-top__holidays-wrapp">
    <div class="main-top__holidays-toggle sm text-uppercase">
      трассы
    </div>
    <div class="down-up">
      <ul class="main-top__holidays-list d-flex text-uppercase">
        <li class="main-top__holidays-item">
          <a class="main-top__holidays-link" href="#">трассы онлайн</a>
        </li>
        <li class="main-top__holidays-item">
          <a class="main-top__holidays-link" href="#">прокат</a>
        </li>
        <li class="main-top__holidays-item">
          <a class="main-top__holidays-link" href="#">беговые лыжи</a>
        </li>
        <li class="main-top__holidays-item">
          <a class="main-top__holidays-link" href="#">обучение</a>
        </li>
      </ul>
    </div>
  </div>
    
    <a href="#" class="main-top__pay">
      купить ски-пасс
    </a>
  </div>
  <picture>
    <source srcset="assets/img/_header.webp" type="image/webp">
    <img src="assets/img/_header.jpg" alt="">
  </picture>
</div>




