<section class="section invest">
  <div class="container invest__container relative">    
    <div class="invest__box d-flex">
      <div class="invest__head">
        <h2 class="display-h2 invest__title text-uppercase">
          детский горнолыжный клуб
        </h2>
        <div class="invest__desc">
          Зимой для маленьких гостей курорта работают склоны детского горнолыжного клуба Морозко
        </div>
        <a href="#" class="invest__link box-link">
          узнать больше
          <span class="invest__link--mob md">
            <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.5 4.75192L0 9L0 0.5L7.5 4.75192Z" fill="#0F6EB4" />
            </svg>
          </span>
        </a>
      </div>
      <div class="invest__items">
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              обучение <br>через игру
            </div>
          </div>
          <div class="invest__item-info">
            Юные лыжники могут самостоятельно прочитать свой учебный план. 
            Также для запоминания используют стихи, игровые сценарии, яркие 
            вспомогательные игрушки. С ними горнолыжные уроки становятся 
            вдвойне интересными
          </div>          
        </div>
        <!--  -->
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              безопасность
            </div>
          </div>
          <div class="invest__item-info">
          Допуск на детский склон возможен только в сопровождении инструктора, что уменьшает риск получения травм. Все инструкторы проходили специальную подготовку. Ограждение склона поможет избежать столкновений.
          </div>          
        </div>
        <!--  -->
        <!--  -->
        <div class="invest__item d-flex">
          <div class="invest__item-name d-flex">
            <div class="invest__item-icon">
              <img src="/assets/img/icon-user.svg" alt="">
            </div>
            <div class="invest__item-title text-uppercase">
              топовые преподаватели
            </div>
          </div>
          <div class="invest__item-info">
          Все Инструкторы специализируютсяна работе с детьми и прошли специальную подготовку
          </div>          
        </div>
        <!--  -->
      </div>
    </div>
  </div>  
</section>