<section class="section slope">
  <h2 class="inner-title slope__title text-center line-after">
    <span>  
      на курорте есть два склона <br>с уникальной атмосферой
    </span>
  </h2>
  <div class="container slope__container">
    <div class="slope__grid d-grid">
      <!--  -->
      <div class="slope__grid-item">
        <div class="slope__grid-img">
          <picture>
            <source srcset="assets/img/holidays/1.webp" type="image/webp">
            <img src="assets/img/holidays/1.jpg" alt="газпром лаура">
          </picture>
        </div>
        <div class="slope__grid-content">
          <div class="inner-title slope__grid-name text-uppercase">газпром лаура</div>
          <div class="description slope__grid-description">
            Склон подойдет для семейного отдыха и тех, кто только начинает кататься. Трассы пролегают среди пихтового леса на хребте
            Псехако.
          </div>
        </div>
      </div>
      <!--  -->
      <div class="slope__grid-item">
        <div class="slope__grid-img">
          <picture>
            <source srcset="assets/img/holidays/2.webp" type="image/webp">
            <img src="assets/img/holidays/2.jpg" alt="газпром лаура">
          </picture>
        </div>
        <div class="slope__grid-content">
          <div class="inner-title slope__grid-name text-uppercase">газпром альпика</div>
          <div class="description slope__grid-description">
            Трассы с атмосферой экстрима. Заядлые райдеры могут показать характер и отточить мастерство катания на крутых трассах.
          </div>
        </div>
      </div>
      <!--  -->
  </div>
</section>