<section class="section ws ws--holidays">  
  <div class="ws__container relative">
    <div class="ws__slider">
      <div class="ws__wrapper">
        
          <div class="ws__item relative">
            <div class="ws__info absolute">
              <div class="display-h2 ws__name text-uppercase">
                беговые лыжи <br>на Лыжно-биатлонном <br>комплексе лаура
              </div>              
            </div>
            <picture>
              <source srcset="assets/img/holidays/team.webp" type="image/webp">
              <img src="assets/img/holidays/team.jpg" alt="">
            </picture>
            <footer class="ws__footer absolute">
              <div class="ws__desc">
                Тренируйтесь с олимпийскими чемпионами в школе беговых лыж и биатлона
              </div>
              <a href="#" class="ws__link box-link">
                узнать больше
              </a>
            </footer>
          </div>

        
      </div>
    </div>    
    
  </div>
</section>