<section class="section ws ws--holidays">  
  <div class="ws__container relative">
    <div class="ws__slider">
      <div class="ws__wrapper">
        
          <div class="ws__item relative">
            <div class="ws__info absolute">
              <div class="display-h2 ws__name text-uppercase">
                обучение <br>горным лыжами <br>и сноуборду
              </div>              
            </div>
            <picture>
              <source srcset="assets/img/holidays/snowbord.webp" type="image/webp">
              <img src="assets/img/holidays/snowbord.jpg" alt="">
            </picture>
            <footer class="ws__footer absolute">
              <div class="ws__desc">
                Обучение проводится на трассах любой сложности на склонах Лаура и Альпика.
              </div>
              <a href="#" class="ws__link box-link">
                узнать больше
              </a>
            </footer>
          </div>

        
      </div>
    </div>
    
      <!-- <div class="ws__nav slider-paginator"></div>
      <div class="slider__arrows ws__arrows d-flex">
        <div class="slider__arrow-prev  ws__arrow-prev">
          <svg width="135" height="11" viewBox="0 0 135 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.596.594l-9 5.196 9 5.196V6.69h125.4v-1.8H9.596V.594z"
              fill="#fff" />
          </svg>
        </div>
        <div class="slider__arrow-next  ws__arrow-next">
          <svg width="135" height="11" viewBox="0 0 135 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M125.998.594l9 5.196-9 5.196V6.69H.598v-1.8h125.4V.594z"
              fill="#fff" />
          </svg>
        </div>
      </div> -->
    
  </div>
</section>