
{% set items = ['особый 
                <br>завтрак','мини-
                <br>бар','система <br>
                ihome','набор <br>
                для спа'] %}
<section class="section everything">
  <div class="container everything__container d-flex jcsb">
    <div class="everything__head">
      <h2 class="display-h2 everything__title text-uppercase">все что нужно для отдыха</h2>
      <div class="description everything__description">
        Готовитесь ли вы к ужину
        или отдыхаете, наши номера
        и люксы оборудованы всем, что вам может понадобиться.
      </div>
    </div>
    <div class="everything__info d-grid">
      {% for item in items %}
        <div class="everything__item d-flex jcsb">
            <div class="everything__item-icon">
              <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_393_4655)" fill="#222A2F">
                  <path
                    d="M0 64.286h64.286V0H0v64.286zm3.086-61.2H61.2V61.2H3.086V3.086zm10.285 65.828H3.086V72H13.37v-3.086zm47.829 0H50.914V72H61.2v-3.086zM72 0h-3.086v64.286H72V0z" />
                  <path
                    d="M37.543 56.571H54v-28.8H37.543v28.8zm3.086-25.714h10.285v22.629H40.63V30.857zM25.095 17.09V7.714h-9.258v9.376c0 2.517-.866 4.986-2.437 6.953a14.265 14.265 0 00-3.114 8.879v23.65h20.36v-23.65c0-3.214-1.105-6.37-3.114-8.88a11.183 11.183 0 01-2.437-6.952zm2.466 36.396H13.37V32.922c0-2.517.867-4.986 2.438-6.953a14.266 14.266 0 003.114-8.88V10.8h3.086v6.29c0 3.214 1.106 6.37 3.114 8.879a11.182 11.182 0 012.438 6.953v20.564z" />
                </g>
                <defs>
                  <clipPath id="clip0_393_4655">
                    <path fill="#fff" d="M0 0h72v72H0z" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="everything__item-content">
              <div class="everything__item-name d-flex">
                <div class="everything__item-mobile" style="background-image:url('/assets/img/Ic72.svg')"></div>
                <span>{{item | striptags(true) | escape | nl2br}}</span>                
              </div>
              <div class="description everything__item-desc">
                Вы сможете насладиться местной кухней. Завтрак можно заказать в постель.
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>