<section class="section ws">
  
  <div class="ws__container relative">
    <div class="ws__slider">
      <div class="ws__wrapper">
        
          <div class="ws__item relative">
            <div class="ws__info absolute">
              <div class="display-h2 ws__name text-uppercase">
                захватывающие <br>дух виды
              </div>              
            </div>
            <picture>
              <source srcset="assets/img/sliders/ws/room.webp" type="image/webp">
              <img src="assets/img/sliders/ws/room.jpg" alt="">
            </picture>
            <footer class="ws__footer absolute">
              <div class="ws__descriptions d-flex">
                <div class="description ws__description">
                  Виллы одновременно сочетают
                  в себе уют домашней обстановки и максимальный комфорт курортной жизни.
                </div>
                <div class="description ws__description">
                  Виллы одновременно сочетают
                  в себе уют домашней обстановки и максимальный комфорт курортной жизни.
                </div>
              </div>
            </footer>
          </div>

        
      </div>
    </div>   
    
  </div>
</section>